html, body, #root {
  height: 100vh;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: row;
  background-color: red;
  height: 100%;
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid cyan;
  flex: 1;
}

.cursor {
  color: white;
}

.upgradeItem {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-content: space-between;
  > * {
    color: blue;
  }
}
